---
category: Veams-Methodology
title: <%= methodology__jsTogether.metadata.title %>
lead: <%= methodology__jsTogether.metadata.lead %>
contentTitle: <%= methodology__jsTogether.metadata.contentTitle %>
menuLink: Bring It Together
categoryType: 04 | JavaScript <span>Binding And Handling</span>
sortOrder: 40
---

{{#extend "lyt-details"}}
	{{#content "main-left"}}
	{{! WrapWith START: Zone }}
		{{#wrapWith "p-zone"}}
			{{#with methodology__jsTogether.article}}
				{{> c-article }}
			{{/with}}
		{{/wrapWith}}
	{{! WrapWith END: Zone }}
	{{/content}}
{{/extend}}