---
category: Veams-Methodology
title: <%= methodology__cssGlobal.metadata.title %>
lead: <%= methodology__cssGlobal.metadata.lead %>
contentTitle: <%= methodology__cssGlobal.metadata.contentTitle %>
menuLink: Global Styles
categoryType: 03 | Classes <span>Systematic In Detail</span>
sortOrder: 40
---

{{#extend "lyt-details"}}
	{{#content "main-left"}}
	{{! WrapWith START: Zone }}
		{{#wrapWith "p-zone"}}
			{{#with methodology__cssGlobal.article}}
				{{> c-article }}
			{{/with}}
		{{/wrapWith}}
	{{! WrapWith END: Zone }}
	{{/content}}
{{/extend}}