---
category: Veams
title: <%= grunt__sgGrunt.metadata.title %>
lead: <%= grunt__sgGrunt.metadata.lead %>
menuLink: "Add Provided Grunt Modules"
categoryType: Install Grunt Modules <span>while you are developing</span>
sortOrder: 00
---

{{#extend "lyt-details"}}
	{{#content "main-left"}}
	{{! WrapWith START:  }}
		{{#wrapWith "p-zone-veams"}}
			{{#with grunt__sgGrunt.article}}
				{{> c-article-veams }}
			{{/with}}
		{{/wrapWith}}
	{{! WrapWith END:  }}
	{{/content}}
{{/extend}}