<div class="figure__caption-inner">
	{{#if captionHeadline}}
		<h3 class="figure__caption-headline">{{captionHeadline}}</h3>
	{{/if}}
	{{#if captionContent}}
		<p class="figure__caption-content">{{captionContent}}</p>
	{{/if}}
</div>