<div class="b-toggler">
	<a class="toggler__link" data-js-module="button" data-js-options='{"globalEvent": "navigation:toggle"}' href="#navigation">
		<span class="toggler__text"> Menü </span> <span class="toggler__icon-wrapper">
		<span class="toggler__icon"> </span> <span class="toggler__icon"></span> <span class="toggler__icon"></span>
	</span>	</span> </a>
</div>