/* ===================================================
TOGGLE MODULE
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-js-module="toggle"] {
	&.is-unresolved {
		position: absolute;
		visibility: hidden;
		overflow: hidden;
	}

	&.is-visible {
	}
}