/* ---------------------------------------------------
Colors
--------------------------------------------------- */
$colors: (
	highlight-main-dark: #BB802A,
	highlight-main: lighten(#BB802A, 10),
	highlight-dark: #373737,
	highlight-light: #F5F5F5,
	white: #fff
);