/* ---------------------------------------------------
Colors
--------------------------------------------------- */
$colors: (
	highlight-main-dark: darken(#96529B, 10),
	highlight-main: #96529B,
	highlight-dark: #373737,
	highlight-light: #F5F5F5,
	white: #fff
);