/* ---------------------------------------------------
Colors
--------------------------------------------------- */
$colors: (
	highlight-main-dark: #4863A0,
	highlight-main: lighten(#4863A0, 10),
	highlight-dark: #373737,
	highlight-light: #F5F5F5,
	white: #fff
);