/* ---------------------------------------------------
Colors
--------------------------------------------------- */
$colors: (
	highlight-main-dark: #499EA2,
	highlight-main: #A4CED0,
	highlight-dark: #373737,
	highlight-light: #F5F5F5,
	white: #fff
);