/* ---------------------------------------------------
Colors
--------------------------------------------------- */
$colors: (
	highlight-main-dark: darken(#9EAF54, 10),
	highlight-main: #9EAF54,
	highlight-dark: #373737,
	highlight-light: #F5F5F5,
	white: #fff
);