/* ---------------------------------------------------
Colors
--------------------------------------------------- */
$colors: (
	highlight-main-dark: #C45353,
	highlight-main: lighten(#C45353, 10),
	highlight-dark: #373737,
	highlight-light: #F5F5F5,
	white: #fff
);