.r-main {
	@extend %float;

	background-color: color(highlight-light);
	padding: 4rem 0;
	background-image: $bg-pattern;
}

.r-main-top {
	@extend %float;

	margin-bottom: 2rem;
}

.r-main-left {
	@include span-columns(8);

	@include media(map-get($bp, mobile-l)) {
		@include span-columns(12);
	}
}

.r-main-right {
	@include span-columns(4);

	margin-right: 0;
	float: right;

	@include media(map-get($bp, mobile-l)) {
		@include span-columns(12);

		margin-bottom: 2rem;
	}
}

.r-main-bottom {
	@include span-columns(12);

	margin-top: 4rem;
}