/* ===================================================
Off Canvas Region
=================================================== */

.r-off-canvas {
	@include transition(right $transition-duration $transition-ease-method);

	background-color: rgba(color(highlight-dark), 0.95);
	height: 100%;
	position: fixed;
	right: -100%;
	width: 100%;
	z-index: 1000;

	&.is-active {
		right: 0;
	}

	.off-canvas__inner {
		padding-top: 3rem;
		text-align: left;
		overflow: auto;
		height: calc(100% - 99px);

		@include bp(1140px) {
			text-align: right;
		}
	}

}