/* ===================================================
BASE
=================================================== */

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: $font-family, Helvetica Neue, Helvetica, Arial;
	font-weight: $font-light;
	font-size: 18px;
	line-height: 140%;
}

/* ---------------------------------------------------
wrapper
--------------------------------------------------- */
.page-wrapper {
	overflow: hidden;
}
