.c-article {
	.article__header-headline {
		font-size: 2.5rem;
		font-weight: $font-light;
		font-family: $font-family;
		line-height: 3.9rem;
		display: block;
		margin-bottom: 1rem;
		color: color(highlight-main);
		text-transform: uppercase;
	}
	.article__header-subline {
		font-size: 2.3rem;
		font-weight: $font-bold;
		line-height: 3rem;

		margin: 1rem 0;

		color: color(highlight-main);
	}
}