/* ===================================================
RTE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-css="c-rte"] {
	h3 {
		border-top: 1px solid lighten(color(highlight-dark), 60);
		font-size: 2rem;
		font-weight: $font-light;
		line-height: 1.5;
		margin: 2.75rem 0;
		padding-top: 2rem;
		text-transform: uppercase;
		color: lighten(color(highlight-dark), 35);
	}

	h4 {
		font-size: 1.9rem;
		font-weight: $font-light;
		line-height: 1.35;

		margin: 2rem 0;
		padding: 1rem;

		color: #000;
		background: lighten(color(highlight-main), 20);
	}

	h5 {
		font-size: 1.75rem;
		font-weight: $font-light;
		line-height: 1.35;

		margin: 2rem 0;
		padding: 0.5rem;

		color: #000;
		background: color(white);
	}

	a {
		@include link-std;
	}

	strong,
	b {
		font-weight: 700;
		color: lighten(color(highlight-dark), 25);
	}

	em {
		font-style: italic;
	}
	ol {
		counter-reset: listCounter;
		margin-left: 3rem;

		li {
			counter-increment: listCounter;
			list-style: none;
			margin: 2.3rem 0;
			position: relative;
			padding-left: 3.5rem;
			font-size: 1.8rem;

			&::before {
				@extend %pseudo;

				content: counter(listCounter) '.';
				font-weight: 500;
				z-index: 1;
				color: color(white);
				top: 0;
				left: 0;

			}

			&::after {
				@extend %pseudo;
				@include fx-triangle($size: 35px 25px 25px, $color: color(highlight-main-dark), $rotation: -15deg);

				top: -8px;
				left: -18px;
				z-index: 0;
				opacity: 0.9;
			}
		}

	}
	ul {
		list-style: none;
		margin-left: 3rem;
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			padding: 0.5rem 2.5rem;

			&::before {
				@extend %pseudo;

				left: 0;
				top: 12px;
				width: 8px;
				height: 8px;
				background-color: color(highlight-main);
			}
		}
	}
	ol {
		margin-top: 1rem;
		margin-bottom: 1rem;

		list-style: decimal;
	}
	img {
		display: block;

		max-width: 100%;
		height: auto;
		margin: 1rem auto;
	}

	/*
	Paragraph
	----------------------------- */
	p {
		font-family: $font-family;
		font-weight: $font-light;
		margin-bottom: 1rem;

		&:last-child {
			margin: 0;
		}
	}

	code {
		@include transition(all 500ms ease);

		font-family: Courier, Monospace, "Courier New", sans-serif;
	}

	pre {
		position: relative;
	}
}

/* ---------------------------------------------------
Modifier
--------------------------------------------------- */
.c-rte--teaser-home {
	p {
		font-family: $font-family;
		font-weight: $font-light;
	}
}