<div class="nav__wrapper">
	<h2 class="nav__headline">
		{{{type}}}
	</h2>
	<ul class="nav__list">
		{{#each data}}
			<li class="nav__list-item">
				<a href="{{url}}" class="nav__link">
					{{{menuLink}}}
				</a>
			</li>
		{{/each}}
	</ul>
</div>