/* ===================================================
Links
=================================================== */

@mixin link-std() {
	@include transition(300ms ease all);

	color: color(highlight-main-dark);
	text-decoration: dotted;

	&:hover {
		color: color(highlight-main);
		text-decoration: underline;
	}
}