@mixin sprites-bg-svg() {
	background-image: url("../img/sprites/sprites-icons-sprite.svg");
}
%sprites-bg-svg {
	@include sprites-bg-svg();
}
@mixin sprites-bg-size() {
	background-size: 605px 595px;
}
%sprites-bg-size {
	@include sprites-bg-size();
}

@mixin sprites-bg-png() {
	background-image: url("../img/sprites/sprites-icons-sprite-medium.png");
}
%sprites-bg-png {
	@include sprites-bg-png();
}
@mixin sprites-github-mark() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 33px;
	height: 32px;
	background-position: -565px -300px;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-github-mark {
	@include sprites-github-mark();
}

@mixin sprites-veams-components() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 202px;
	height: 79px;
	background-position: -145px -300px;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-veams-components {
	@include sprites-veams-components();
}

@mixin sprites-veams-generator() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 202px;
	height: 79px;
	background-position: -355px -300px;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-veams-generator {
	@include sprites-veams-generator();
}

@mixin sprites-veams-generator-symbol() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 137px;
	height: 117px;
	background-position: 0 -300px;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-veams-generator-symbol {
	@include sprites-veams-generator-symbol();
}

@mixin sprites-veams-js() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 202px;
	height: 79px;
	background-position: 0 -425px;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-veams-js {
	@include sprites-veams-js();
}

@mixin sprites-veams-methodology() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 202px;
	height: 79px;
	background-position: -210px -425px;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-veams-methodology {
	@include sprites-veams-methodology();
}

@mixin sprites-veams-sass() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 202px;
	height: 79px;
	background-position: 0 -510px;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-veams-sass {
	@include sprites-veams-sass();
}

@mixin sprites-veams-std() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 209px;
	height: 61px;
	background-position: -210px -510px;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-veams-std {
	@include sprites-veams-std();
}

@mixin sprites-veams-std-symbol() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 596px;
	height: 294px;
	background-position: 0 0;
	@at-root .no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-veams-std-symbol {
	@include sprites-veams-std-symbol();
}


